.ripple1 {
	width: 200px;
	height: 200px;
	background-color: #eeeeee;
	border-radius: 50%;
	box-shadow: 8px 8px 10px #00000030, -8px -8px 10px #ffffff,
		inset 8px 8px 10px #00000030, inset -8px -8px 10px #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: ripple 4.5s infinite ease-in-out;
}

.ripple2 {
	width: 200px;
	height: 200px;
	background-color: #eeeeee;
	border-radius: 50%;
	box-shadow: 8px 8px 10px #00000030, -8px -8px 10px #ffffff,
		inset 8px 8px 10px #00000030, inset -8px -8px 10px #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: ripple 4.5s 1.5s infinite ease-in-out;
}

.ripple3 {
	width: 200px;
	height: 200px;
	background-color: #eeeeee;
	border-radius: 50%;
	box-shadow: 8px 8px 10px #00000030, -8px -8px 10px #ffffff,
		inset 8px 8px 10px #00000030, inset -8px -8px 10px #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: ripple 4.5s 3s infinite ease-in-out;
}

@keyframes ripple {
	0%,
	100% {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		opacity: 1;
	}

	50% {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(2);
		opacity: 0;
	}
}
