.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	height: calc(100% - 260px);

	&__title {
		margin-bottom: 20px;

		color: #babecc;
		text-shadow: 1px 1px 1px #fff;
		letter-spacing: -0.2px;
		font-size: 30px;
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}
}

.field {
	width: 100%;
	padding: 16px;
	border: 0;
	outline: 0;

	background-color: #ebecf0;
	box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px 0 #fff;
	color: #bd2e0a;
	letter-spacing: -0.2px;

	transition: 0.5s ease-in-out;

	&:focus {
		box-shadow: inset 5px 5px 2px #babecc, inset -1px -1px 2px #fff;
	}
}

.input {
	composes: field;
	border-radius: 320px;

	margin-bottom: 20px;
}

.description {
	composes: field;
	height: 150px;
	resize: none;

	border-radius: 32px;
	margin-bottom: 20px;
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset -5px -5px 10px #fff;
		border-radius: 10px;

		margin-top: 20px;
		margin-bottom: 20px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 2px 2px 5px #babecc;
	}
}

.button {
	background: rgb(240, 240, 245);
	margin-top: 20px;
	text-align: center;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	box-shadow: -4px -4px 15px rgb(254, 254, 255), 4px 4px 15px rgb(200, 200, 220);
	border-radius: 10px;
	transition: 0.5s ease-in-out;

	&__update {
		composes: button;

		&:hover {
			cursor: pointer;
			box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
			border-radius: 50px;
			background-color: #76ca76;
			fill: #fff;
		}
	}

	&__delete {
		composes: button;
		&:hover {
			cursor: pointer;
			box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
			border-radius: 50px;
			background-color: #292c29;
			fill: #fff;
		}
	}

	&__close {
		composes: button;

		&:hover {
			cursor: pointer;
			box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
			border-radius: 50px;
			background-color: #e97676;
			fill: #fff;
		}
	}

	&:active {
		box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
	}
}
